<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1.0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>用户协议</title>
    <link href="../content/css/argeement.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>

<body>
    <!-- 内容 content -->
    <div class="argeement">
        <div id="wrapper">
            <div id="scroller">
                <div class="content">
                    <!-- 欢迎 -->
                    <div class="welcome">
                        <h1>欢迎你使用快享的服务！</h1>
                        <p>本协议双方为北京新中新图思互联科技有限公司旗下“快享”与快享网站用户，本服务协议具有合同效力，请务必审慎阅读、充分理解各条款内容。</p>
                        <p>如果你未满18周岁，请在法定监护人的陪同下阅读本协议。</p>
                    </div>
                    <!-- 总则 -->
                    <div class="argeement-parts">
                        <h1>总则</h1>
                        <ul>
                            <li>
                                <p>1、 用户在网站注册页面勾选《用户服务协议》，点击注册按钮并完成注册程序、获得快方网站账号和密码时，视为用户与快方已达成该协议。无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户按照注册程序成功注册，用户的行为仍然表示其同意并签署了本服务协议。</p>
                            </li>
                            <li>
                                <p>2、 快享作为一家网络存储空间服务商，仅为用户提供信息存储空间服务。快享所有权、经营权、管理权均属北京新中新图思互联科技有限公司。</p>
                            </li>
                            <li>
                                <p>3、 本协议最终解释权归属北京新中新图思互联科技有限公司。</p>
                                <h2>【账号和密码安全】</h2>
                                <p>用户在使用快享的服务时需要注册一个账号，考虑到快享所提供的网络服务的重要性及相关法律法规的要求，用户在注册账号时应同意</p>
                                <ul>
                                    <li>
                                        <p>（1）提供详尽、准确的个人资料；</p>
                                    </li>
                                    <li>
                                        <p>（2）按照“后台实名，前台自愿”的原则，通过真实身份信息认证；</p>
                                    </li>
                                    <li>
                                        <p>（3）如个人资料有任何变动，必须及时更新。</p>
                                    </li>
                                </ul>
                                <p>如果用户提供的资料不准确、不真实、不合法有效，快享保留结束用户使用各项服务的权利。一旦注册成功，成为快享的合法用户，将得到一个密码和账号。快享账号的所有权归快享，用户完成注册后，获得快享账号的使用权。快享特别提醒你应妥善保管你的账号和密码，如果你未保管好自己的账号和密码而对你、快享或第三方造成的损害，你将负全部责任。另外，每个用户都要对其账户中的所有活动和事件负全责。你可随时改变你的密码，也可以结束旧的账户重开一个新账户。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通告快享。</p>
                            </li>
                        </ul>
                    </div>
                    <!-- 用户个人信息保护-->
                    <div class="argeement-parts">
                        <h1>用户个人信息保护</h1>
                        <p>尊重用户个人隐私是快享的一项基本政策。快享将运用各种安全技术和程序建立完善的管理制度来保护你的个人信息，以免遭受未经授权的访问、使用或披露。快享一定不会在未经合法用户授权时公开、透露其注册资料及保存在快享网中的非公开内容，除非快享在诚信的基础上认为透露这些信息在以下四种情况是必要的：</p>
                        <ul>
                            <li>
                                <p>（1）相关的法律法规及程序要求提供；</p>
                            </li>
                            <li>
                                <p>（2）保持维护快享的商标所有权；</p>
                            </li>
                            <li>
                                <p>（3）在紧急情况下竭力维护用户个人和社会大众的隐私安全；</p>
                            </li>
                            <li>
                                <p>（4）符合其他相关的要求。</p>
                            </li>
                        </ul>
                        <h2>【网络服务内容的所有权】</h2>
                        <p>快享作为一家网络存储空间服务商，仅为用户提供信息存储空间服务，网站的文章均由用户发布，快享对任何文章都不拥有所有权，快享不修改或编辑用户的文章。快享用户不得侵犯包括他人的著作权在内的知识产权以及其他合法权利。如果用户发布的文章未经著作权人同意擅自对他人的作品进行全部或部分复制、修改、改编、翻译、汇编等，有可能侵害到他人的著作权时，不得把相关内容发布到快享。</p>
                        <p>对于用户发布的内容之真实性引发的全部责任，由用户自行承担。一旦由于用户发布的文章发生权利纠纷或侵犯了任何第三方的合法权益，其责任由用户本人承担，因此给快享或任何第三方造成的损失，用户应负责全额赔偿；</p>
                        <p>如因快享用户发布的内容侵犯了第三方的合法权利，第三方向快享提出异议，快享有权删除相关的内容。提出异议者和文章发布者之间的相关法律问题得到解决后，以此为依据，向快享提出申请，快享可以恢复被删除的内容。</p>
                        <p>当权利人发现快享提供的信息存储空间服务中展示的内容侵犯其合法权益时，权利人应事先向快享发出“权利通知”， 快享将根据中国法律法规和规范性文件的规定采取移除相关内容等合理措施。请按照 侵权处理 公示的具体内容和步骤发出权利通知书。</p>
                        <h2>文章标精条款：</h2>
                        <p>a、 文章符合标精条件时，您授权系统帮您标精并进入精华区；</p>
                        <p>b、 如果您不同意标精授权，可以到“我的图书馆-关于我-偏好设置”中进行不授权设置。收藏人有权删除文章或注销其在快享的账户。</p>
                    </div>
                    <!-- 对信息的存储和限制 -->
                    <div class="argeement-parts">
                        <h1>对信息的存储和限制</h1>
                        <p>快享不对用户所发布信息的删除或储存失败负责。快享有判定用户的行为是否符合快享服务协议的权利，如果用户违背了服务协议的规定，快享有中断对其提供网络服务的权利。快享有权保留或删除会员发布的任意信息。</p>
                    </div>
                    <!-- 用户行为管理 -->
                    <div class="argeement-parts">
                        <h1>用户行为管理</h1>
                        <p>用户使用快享各项服务的权利是个人的。用户只能是一个单独的个体而不能是一个公司或实体的商业性组织。用户不得在快享内发布任何形式的广告，或进行销售等商业用途。</p>
                        <p>用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户若在快享上散布和传播反动、色情或其他违反国家法律的信息，快享的系统记录有可能作为用户违反法律的证据。用户承诺： 在快享的各类平台上发布信息不得违反《中华人民共和国网络安全法》、《互联网用户账号名称管理规定》《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》、《互联网跟帖评论服务管理规定》、《互联网群组服务管理规定》等相关法律法规规定，不得在快享的各类平台上或者利用快享的服务制作、复制、发布、传播以下信息：</p>
                        <ul>
                            <li>
                                <p>a、 反对宪法所确定的基本原则的；</p>
                            </li>
                            <li>
                                <p>b、 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                            </li>
                            <li>
                                <p>c、 损害国家荣誉和利益的；</p>
                            </li>
                            <li>
                                <p>d、 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                            </li>
                            <li>
                                <p>e、 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                            </li>
                            <li>
                                <p>f、 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                            </li>
                            <li>
                                <p>g、 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                            </li>
                            <li>
                                <p>h、侮辱或者诽谤他人，侵害他人合法权益的；</p>
                            </li>
                            <li>
                                <p>i、 含有法律、行政法规禁止的其他内容的。</p>
                            </li>
                        </ul>
                        <p>用户在快享各类平台上进行评论时，需要遵守本条款中所列举的相关法律法规。对注册用户发表的评论，我们保留相应的管理权利。</p>
                        <p>在快享的各类平台上发布信息或者利用快享的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</p>
                        <p>不利用快享的服务从事以下活动：</p>
                        <ul>
                            <li>
                                <p>a、 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                            </li>
                            <li>
                                <p>b、 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                            </li>
                            <li>
                                <p>c、 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                            </li>
                            <li>
                                <p>d、 故意制作、传播计算机病毒等破坏性程序的；</p>
                            </li>
                            <li>
                                <p>e、 其他危害计算机信息网络安全的行为</p>
                            </li>
                        </ul>
                        <p>不以任何方式干扰快享的服务。</p>
                        <p>遵守快享的所有其他规定和程序。</p>
                        <p>用户使用快享电子公告服务，包括电子布告牌、电子论坛和留言板等以交互形式为上网用户提供信息发布条件的行为，也须遵守本条的规定以及快享专门发布的相关电子公告服务的规则，上段中描述的法律后果 和法律责任同样适用于电子公告服务的用户。 若用户的行为不符合以上提到的服务协议，快享将作出独立判断立即取消用户服务账号。你违反本条约定，导致任何第三方的损害，你应当独立承担责任；快享因此遭受损失的，你也应当一并赔偿。</p>
                        <p>任何用户发现快享内容涉嫌侮辱或者诽谤他人、侵害他人合法权益的或违反快享协议的，有权 联系快享 进行投诉。</p>
                    </div>
                    <!-- 知识圈使用管理 -->
                    <div class="argeement-parts">
                        <h1>知识圈使用管理</h1>
                        <p>用户在使用知识圈时，应当遵守本协议所列举的各项规定，以及本协议第六条中所列举的相关法律法规。用户还应该遵守以下规则：</p>
                        <ul>
                            <li>
                                <p>a、知识圈按照“后台实名，前台自愿”的原则，通过真实身份认证。未进行真实信息认证者，不得使用知识圈；</p>
                            </li>
                            <li>
                                <p>b、应按照快享的流程、规则创建知识圈和主题。知识圈内基本资料的设置以及发布的内容，不得含有违反国家法律法规、公序良俗、社会公德以及侵犯他人合法权益等的内容；</p>
                            </li>
                            <li>
                                <p>c 、知识圈的发起者、管理员和主题创建者要合理运用各自的管理权限，维护好知识圈的内容，坚决杜绝非法信息及违法行为。发现问题后要及时处理并向平台举报。知识圈的成员要自觉准守使用规定，如有违规，将被禁止使用知识圈。</p>
                            </li>
                        </ul>
                    </div>
                    <!-- 处罚规则 -->
                    <div class="argeement-parts">
                        <h1>处罚规则</h1>
                        <p>快享郑重提醒用户， 若出现下列情况任意一种或几种，将承担包括被关闭全部或者部分权限、被暂停或被删除其账号的后果，情节严重的，还将承担相应的法律责任。?</p>
                        <ul>
                            <li>
                                <p>（1）用户个人信息中使用不恰当文字或不雅图片；</p>
                            </li>
                            <li>
                                <p>（2）多次涉及侵犯他人著作权、名誉权等合法权利；</p>
                            </li>
                            <li>
                                <p>（3）发表含有猥亵、色情、人身攻击和反政府言论等信息；</p>
                            </li>
                            <li>
                                <p>（4）从事非法商业活动；</p>
                            </li>
                            <li>
                                <p>（5）模仿快享管理人员ID或者他人ID，用以假冒管理人员或破坏管理人员形象；</p>
                            </li>
                            <li>
                                <p>（6）其他快享认为不恰当的情况。</p>
                            </li>
                        </ul>
                    </div>
                    <!-- 拒绝提供担保 -->
                    <div class="argeement-parts">
                        <h1>拒绝提供担保</h1>
                        <p>用户个人对网络服务的使用承担风险。快享对此不作任何类型的担保，不论是明确的或隐含的。快享不担保服务一定能满足用户的要求，也不担保服务不会中断，对服务的及时性，安全性，出错发生都不作担保。</p>
                    </div>
                    <!-- 保障 -->
                    <div class="argeement-parts">
                        <h1>保障</h1>
                        <p>用户同意保障和维护快享全体成员的利益，并负责支付由用户使用超出服务范围引起的律师费用，违反服务协议的损害补偿费用等。</p>
                    </div>
                    <!-- 结束服务 -->
                    <div class="argeement-parts">
                        <h1>结束服务</h1>
                        <p>用户或快享可随时根据实际情况中断一项或多项网络服务。快享不需对任何个人或第三方负责而随时中断服务。用户对后来的协议修改有异议，或对快享的服务不满，可以行使如下权利：</p>
                        <ul>
                            <li>
                                <p>（1）停止使用快享的网络服务；</p>
                            </li>
                            <li>
                                <p>（2）通告快享停止对该用户的服务。</p>
                            </li>
                        </ul>
                        <p>结束用户服务后，用户使用网络服务的权利马上中止。从那时起，用户没有权利，快享也没有义务传送任何未处理的信息或未完成的服务给用户或第三方。</p>
                    </div>
                    <!-- 有限责任及免责事由 -->
                    <div class="argeement-parts">
                        <h1>有限责任及免责事由</h1>
                        <p>快享对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害可能来自：不正当使用网络服务，在网上购买商品或进行同类型服务，在网上进行交易，非法使用网络服务或用户传送的信息有所变动。这些行为都有可能会导致快享的形象受损，所以快享事先提出这种损害的可能性。</p>
                        <p>快享如因系统维护或升级等而需暂停服务时，将事先公告。若因硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，快享不负任何责任。由于快享的调整导致信息丢失或储存失败或其他结果的，快享不承担任何责任。</p>
                        <p>同时快享对以下情形导致的服务中断或受阻也不承担责任：</p>
                        <ul>
                            <li>
                                <p>a、受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
                            </li>
                            <li>
                                <p>b、用户或快享的电脑软件、系统、硬件和通信线路出现故障；</p>
                            </li>
                            <li>
                                <p>c、用户操作不当；</p>
                            </li>
                            <li>
                                <p>d、用户通过非快享授权的方式使用本服务；</p>
                            </li>
                            <li>
                                <p>e、其他快享无法控制或合理预见的情形。</p>
                            </li>
                        </ul>
                        <p>用户从快享中获得的信息，未经事先许可，用户不得以盈利为目的，自己或提供给第三方进行使用（符合法律规定的“合理使用”条件的除外）。否则，一切法律后果由该用户或第三方自负，与快享无关。</p>
                    </div>
                    <!-- 不可抗力 -->
                    <div class="argeement-parts">
                        <h1>不可抗力</h1>
                        <p>你理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。发生此类情况，快享不承担任何责任；</p>
                        <p>你理解并同意，在使用本服务的过程中，可能会遇到网络信息或其他用户行为带来的风险，快享不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给你造成的损害负责。这些风险包括但不限于：</p>
                        <ul>
                        <li><p>a、来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</p></li>
                        <li><p>b、因使用本协议项下的服务，遭受他人误导、欺骗或其他导致或可能导致的任何心理、生理上的伤害以及经济上的损失；</p></li>
                        <li><p>c、其他因网络信息或用户行为引起的风险。</p></li>
                        </ul>
                        <p>你理解并同意，本服务并非为某些特定目的而设计，包括但不限于核设施、军事用途、医疗设施、交通通讯等重要领域。如果因为软件或服务的原因导致上述操作失败而带来的人员伤亡、财产损失和环境破坏等，快享不承担法律责任。</p>
                        <p>快享依据本协议约定获得处理违法违规内容的权利，该权利不构成快享的义务或承诺，快享不能保证及时发现违法行为或进行相应处理。</p>
                    </div>
                    <!-- 通告 -->
                    <div class="argeement-parts">
                        <h1>通告</h1>
                        <p>所有发给用户的通告都可通过相关页面的公告或电子邮件或常规的信件等传送。服务协议的修改、服务变更、或其它重要事件的通告都会以此形式进行。</p>
                    </div>
                    <!-- 服务协议的修改和服务修订 -->
                    <div class="argeement-parts">
                        <h1>服务协议的修改和服务修订</h1>
                        <p>快享有权在必要时修改服务协议，快享服务协议一旦发生变动，将会在相关页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的网络服务。如果用户继续享用网络服务，则视为接受服务协议的变动。</p>
                        <p>快享保留随时修改或中断服务而不需个别知照用户的权利。快享行使修改或中断免费服务的权利，不需对用户或第三方负责。</p>
                    </div>
                    <!-- 其他 -->
                    <div class="argeement-parts">
                        <h1>其他</h1>
                        <p>未经快享事先许可，禁止使用任何机器人、蜘蛛、其他自动设备，或手动程序来监视或复制快享网页或其所包含的任何内容。否则，快享有权依法追究法律责任。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../content/plugin/iscroll4/js/iscroll.js"></script>
    <script type="text/javascript">
    myScroll = new iScroll('wrapper', {
        vScrollbar: false,
        checkDOMChanges: true,
    });
    </script>
</body>

</html>