<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1.0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>图书馆</title>
    <link href="../content/css/pull.css" rel="stylesheet">
    <link href="../content/plugin/baguetteBox/css/baguetteBox.min.css" rel="stylesheet">
    <link href="../content/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>
<style type="text/css">
  iframe{
    width: 100%;
    height: 100%
  }
</style>
<body>
    <!-- 内容 content -->
    <div class="content">
        <iframe src="http://www.163.com"></iframe>
    </div>

    <!-- f -->
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="../content/plugin/jquery/jquery-3.2.1.min.js"></script>
    <script src="../content/plugin/iscroll4/js/iscroll.js"></script>
    <script src="../content/plugin/baguetteBox/js/baguetteBox.min.js"></script>
    <script src="../content/js/index.js"></script>
    <script type="text/javascript">
      /*
        bug： 
            1725:0 
            1739:0
            1738:-
            1726:0
            1724:0
            1723:0
            1710:0
            1703:0
            1702:-
            1701:0
            1696:0
            1694:0
            1685:0
       */
      // html加载完在执行
      // 注意：想要那个图片能点击就在那个图片外加一层<a href></a>
      // href = 图片地址
      // alert(1);
      // baguetteBox.run('.baguetteBox'); 
      // alert(2);
      /*myScroll = new iScroll('wrapper', {
        vScrollbar: false,
        checkDOMChanges:true,
        onBeforeScrollStart: beforeScrollStart
      });*/
      // alert(myScroll);
      // IScroll.utils.preventDefaultException = function (el, exceptions) {
      //     if( el.outerHTML == "<span>lohuasen-com</span>" ) {
      //         return true;
      //     }
      //     for ( var i in exceptions ) {
      //         if ( exceptions[i].test(el[i])) {
      //             return true;
      //         }
      //     }
      //     return false;
      // };
    </script>
</body>
</html>