<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1.0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>图书馆</title>
    <link href="../content/css/pull.css" rel="stylesheet">
    <link href="../content/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>

<body>
    <!-- 内容 content -->
    <div class="content">
        <div id="wrapper">
            <div id="scroller">
                <h1>腾讯金融学院成立，致力成为培养互联网与金融复合型人才</h1>
                <!-- 文章 container-->
                <div class="essay-container">
                    <div>
                      <span>
                        <img src="../content/images/vx.png" alt="">
                        <em>微交互</em>
                      </span>
                      <em class="time">2017-10-10</em>
                    </div>
                    <!-- 文章 -->
                    <p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
                    <!-- 插画 -->
                    <a href="#n" class="inset-box">
                      <img src="../content/images/inset.png" class="inset">
                      <p>休憩的午后</p>
                    </a>
                    <p>腾讯金融科技包括移动支付和金融应用两部分业务。移动支付业务中，腾讯微信支付和QQ钱包两大平台的月活跃支付账户数超6亿个、日均支付交易笔数超6亿笔，支付订单每秒峰值20.8万笔/秒。2017年除夕微信红包收发总量达到142亿个，三年间增长700倍。近期，腾讯进一步拓展移动支付在公交绿色出行场景中的应用，在合肥、广州、佛山、济南等地陆续上线腾讯乘车码。</p>
                    <h3>移动支付</h3>
                    <!-- 文章 -->
                    <p>腾讯金融科技包括移动支付和金融应用两部分业务。移动支付业务中，腾讯微信支付和QQ钱包两大平台的月活跃支付账户数超6亿个、日均支付交易笔数超6亿笔，每秒峰值20.8万笔/秒。</p>
                    <!-- 插画 -->
                    <a href="#n" class="inset-box">
                      <img src="../content/images/inset-1.png" class="inset">
                    </a>
                    <!-- 文章 -->
                    <p>腾讯金融学院重点致力于打造互联网和金融复合型人才的培养体系，腾讯一直在追求将互联网文化和金融文化更好的融合。</p>
                </div>
                <!-- 回复 container-->
                <div class="replies-container">
                    <!-- 互动 -->
                    <div class="interact">
                      <span class="laud laudBtn icon-laud-gray">赞</span>
                      <span class="person">
                        <img src="../content/images/head-1.png" alt="">
                        <img src="../content/images/head-2.png" alt="">
                        <img src="../content/images/head-3.png" alt="">
                        <img src="../content/images/head-4.png" alt="">
                        <img src="../content/images/head-5.png" alt="">
                        <img src="../content/images/head-3.png" alt="">
                        <img src="../content/images/head-3.png" alt="">
                      </span>
                      <a href="person.html" class="person-num">
                        32
                      </a>
                    </div>
                    <!-- 评论 -->
                    <div class="comment comment-list">
                      <h2>评论  (15)</h2>
                      <ul>
                        <li>
                          <div class="comment-box">
                            <h3>
                              <img src="../content/images/head-2.png" alt="">
                              <em>廖凡</em>
                              <i class="comment-laud-btn laudBtn icon-laud">16</i>
                            </h3>
                            <p>行www.baidu.com,催生了www.baidu.comw ww.baidu.com互联网与www.baidu.com学习。www.baidu.com</p>
                            <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
                          </div>
                        </li>
                        <li>
                          <div class="comment-box">
                            <h3>
                              <img src="../content/images/head-3.png" alt="">
                              <em>廖凡</em>
                              <i class="comment-laud-btn laudBtn icon-laud">16</i>
                            </h3>
                            <p>的方式不适合拷贝大文件，内存会爆仓。对于大文件，我们只能读一点写一点，直到完成拷贝。因此上边的程序需要改造如下r fs = require('fs');function copy(src, dst) fs.createReadStream(src).pipe(fs.createWriteStream(dst));},催生了腾讯金融学院的落地,而作为互联网与金融复合型人才学习。</p>
                            <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
                          </div>
                          <div class="comment-sub-box">
                            <p><em>夏天的风：</em>催生了腾讯金融学院的落地,而作为互联网与金融复合型人才学习</p>
                            <a href="reply.html">共6条回复></a>
                          </div>
                        </li>
                        <li>
                          <div class="comment-box">
                            <h3>
                              <img src="../content/images/head-5.png" alt="">
                              <em>廖凡</em>
                              <i class="comment-laud-btn laudBtn icon-laud">16</i>
                            </h3>
                            <p>行业发展带来的复合型人才需求,催生了腾讯金融学院的落地,而作为互联网与金融复合型人才学习。</p>
                            <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
                          </div>
                        </li>
                      </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="nav-foot">
        <ul>
            <li>
              <a href="#n" class="essay-laud-btn laudBtn icon-laud" onclick="clickLaudFn(this);">
                <span class="statis">15</span>
              </a>
            </li>
            <li>
              <a class="essay-comment-btn icon-comment" >
                <span class="statis">15</span>
              </a>
            </li>
            <li>
              <a href="#" class="essay-collect-btn icon-collect">
              </a>
            </li>
            <li>
              <a href="#" class="essay-share-btn icon-share">
              </a>
            </li>
        </ul>
    </div>
    <!-- 回复输入框 -->
    <div class="input-container">
      <form action="">
        <div class="input-box">
          <input type="text" name="">
          <button class="sendBtn">发表</button>
        </div>
      </form>
    </div>
    <!-- 悬浮分享按钮 -->
    <div class="share-btn">
      <a class="icon-share" href="#n">
      </a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../content/plugin/jquery/jquery-3.2.1.min.js"></script>
    <script src="../content/plugin/iscroll4/js/iscroll.js"></script>
    <script src="../content/js/index.js"></script>
    <script type="text/javascript">
      myScroll = new iScroll('wrapper', {
          vScrollbar: false,
          checkDOMChanges:true
      });
    </script>
</body>
</html>