<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1.0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>图书馆</title>
    <link href="../content/css/pull.css" rel="stylesheet">
    <link href="../content/plugin/baguetteBox/css/baguetteBox.min.css" rel="stylesheet">
    <link href="../content/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>

<body>
    <!-- 内容 content -->
    <div class="content ">
        
    </div>
    <!-- f -->
    <div class="nav-foot">
        <ul>
            <li>
              <a class="essay-laud-btn laudBtn icon-laud" onclick="clickLaudFn(this);">
                <span class="statis">15</span>
              </a>
            </li>
            <li>
              <a class="essay-comment-btn icon-comment" >
                <span class="statis">15</span>
              </a>
            </li>
            <li>
              <a  class="essay-collect-btn icon-collect">
              </a>
            </li>
            <li>
              <a  class="essay-share-btn icon-share">
              </a>
            </li>
        </ul>
    </div>
    <!-- 回复输入框 -->
    <div class="input-container">
        <div class="input-box">
          <input type="text" name="">
          <button class="sendBtn">发表</button>
        </div>
    </div>
    <!-- 悬浮分享按钮 -->
    <div class="share-btn">
      <a class="icon-share" href="#n">
      </a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="../content/plugin/jquery/jquery-3.2.1.min.js"></script>
<!--     <script src="../content/plugin/iscroll4/js/iscroll.js"></script>
    <script src="../content/plugin/baguetteBox/js/baguetteBox.min.js"></script> -->
    <script src="../content/js/index.js"></script>
    <script type="text/javascript">
      $(".content").load("http://172.16.15.99:8081/add.html");
    </script>
</body>
</html>