<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>图书馆</title>
    <link href="../content/css/pull.css" rel="stylesheet">
    <link href="../content/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>

<body>
    <!-- 内容 content -->
    <div class="content">
      <div id="replyWrapper">

          <!-- <h2>评论  (15)</h2> -->
          <ul class="comment comment-list">
            <li>
              <div class="comment-box">
                <h3>
                  <img src="../content/images/head-2.png" alt="">
                  <em>廖凡</em>
                  <i class="comment-laud-btn laudBtn icon-laud">16</i>
                </h3>
                <p>行www.baidu.com,催生了www.baidu.comw ww.baidu.com互联网与www.baidu.com学习。www.baidu.com</p>
                <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
              </div>
            </li>
            <li>
              <div class="comment-box">
                <h3>
                  <img src="../content/images/head-3.png" alt="">
                  <em>廖凡</em>
                  <i class="comment-laud-btn laudBtn icon-laud">16</i>
                </h3>
                <p>的方式不适合拷贝大文件，内存会爆仓。对于大文件，我们只能读一点写一点，直到完成拷贝。因此上边的程序需要改造如下r fs = require('fs');function copy(src, dst) fs.createReadStream(src).pipe(fs.createWriteStream(dst));},催生了腾讯金融学院的落地,而作为互联网与金融复合型人才学习。</p>
                <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
              </div>
            </li>
            <li>
              <div class="comment-box">
                <h3>
                  <img src="../content/images/head-5.png" alt="">
                  <em>廖凡</em>
                  <i class="comment-laud-btn laudBtn icon-laud">16</i>
                </h3>
                <p>行业发展带来的复合型人才需求,催生了腾讯金融学院的落地,而作为互联网与金融复合型人才学习。</p>
                <div><em>刚刚·<a class="replyBtn">回复</a></em></div>
              </div>
            </li>
          </ul> 
      </div>
    </div>
    <!-- 回复输入框 -->
    <div class="input-container">
      <!-- <form> -->
        <div class="input-box">
          <input type="text" name="" autofocus="autofocus">
          <button class="sendBtn" onclick='$(".input-container").hide(0);' >发表</button>
        </div>
      <!-- </form> -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../content/plugin/jquery/jquery-3.2.1.min.js"></script>
    <script src="../content/plugin/iscroll4/js/iscroll.js"></script>
    <script src="../content/plugin/iscroll4/js/pullToRefresh.js"></script>
    <script src="../content/js/index.js"></script>
    <script type="text/javascript">
      window.onload =function(){
        loadedScroll();  
      }
      
    </script>
</body>
</html>